.row
  .col-12 
    a(
        class="button-friend button-friend-accept btn btn-primary m-1"
        href="/friends/accepts"
    ) Lời mời kết bạn 
    a(
        class="button-friend button-friend-suggestions btn btn-primary m-1"
        href="/friends/suggestions"
    ) Gợi ý kết bạn
    a(
        class="button-friend button-list btn btn-primary m-1"
        href="/friends/lists"
    ) Tất cả bạn bè

    a(
        class="button-friend button-requests btn btn-primary m-1"
        href="/friends/requests"
    ) Lời mời đã gửi