extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  .container.mt-5
    .row
      .col-12
        h1 Quản lý công việc

        //- Nút xem công việc được giao
        button.btn-toggle-tasks.btn.btn-primary.mb-3(data-target=".assigned-tasks")
          i.fas.fa-tasks.mr-2
          | Công việc được giao

        //- Nút giao việc cho người khác
        button.btn-toggle-tasks.btn.btn-success.mb-3(data-target=".form-new-task")
          i.fas.fa-user-plus.mr-2
          | Giao việc cho người khác

        //- Nút theo dõi công việc mình giao
        button.btn-toggle-tasks.btn.btn-info.mb-3(data-target=".tracked-tasks")
          i.fas.fa-user-check.mr-2
          | Theo dõi công việc mình giao

        //- Form giao việc mới
        form.form-new-task(action="/tasks/create" method="post" class="task-mangement")
          .form-group
            label(for="title") Tiêu đề
            input#title.form-control(type="text" name="title" required)
          .form-group
            label(for="description") Mô tả
            textarea#description.form-control(name="description")
          .form-group
            label(for="dueDate") Ngày hết hạn
            input#dueDate.form-control(type="date" name="dueDate")
          .form-group
            label(for="priority") Mức độ ưu tiên
            select#priority.form-control(name="priority")
              option(value="low") Thấp
              option(value="medium" selected) Trung bình
              option(value="high") Cao
          .form-group
            label(for="status") Trạng thái
            select#status.form-control(name="status")
              option(value="not started" selected) Chưa bắt đầu
              option(value="in progress") Đang thực hiện
              option(value="completed") Hoàn thành
          .form-group
            label(for="assignedTo") Người thực hiện
          //- Người thực hiện
          .dropdown
            button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | Chọn người thực hiện
            .dropdown-menu(aria-labelledby="assignedTo")
              each user in users
                .dropdown-item
                  label.form-check-label(for=`user-${user.id}`)
                    input.form-check-input(type="checkbox" name="assignedTo" id=`user-${user.id}` value=user.id)
                    | #{user.fullName}

          button.btn.btn-primary(type="submit") Thêm công việc

        //- Công việc của bạn
        .card.assigned-tasks.mt-3(class="task-mangement active")
          .card-header
            h2 Công việc của tôi
          .card-body
            //- Công việc 1
            if myTasks.length > 0
              each task in myTasks
                .task.mb-3
                  .task-header.d-flex.justify-content-between.align-items-center
                    h3 #{task.title}
                    span.badge.badge-primary #{task.priority}
                  .task-body
                    p #{task.description}
                    p #{task.newTime}
                    p Trạng thái: 
                      span.badge.badge-info #{task.status}
                    p Người giao: #{task.info}
                    //- Các nút quản lý công việc
                    .task-actions.mt-3
                      form(action=`/tasks/delete/${task.id}?_method=DELETE` method="POST" class="form-task form-task-delete")
                        button.btn.btn-sm.btn-danger(type="submit") Xóa
                      form(action=`/tasks/success/${task.id}?_method=PATCH` method="POST" class="form-task form-task-success")
                        button.btn.btn-sm.btn-success(type="submit") Hoàn thành
              else  
                h2 Bạn hiện chưa có công việc nào!


        //- Công việc mình giao cho người khác
        .card.tracked-tasks.mt-3(class="task-mangement")
          .card-header
            h2 Công việc tôi giao
          .card-body
            //- Công việc 1
            each taskAssignment in tasksAssignment
              .task.mb-3
                .task-header.d-flex.justify-content-between.align-items-center
                  h3 #{taskAssignment.title} #{taskAssignment.status === 'completed' ? ' - Hoàn thành' : ''}
                  span.badge.badge-primary #{taskAssignment.priority}
                .task-body
                  p #{taskAssignment.description}
                  p Ngày hết hạn: #{taskAssignment.newTime}
                  p Trạng thái: 
                    span.badge.badge-info #{taskAssignment.status}
                  p Người được giao: #{taskAssignment.info}
                //- Các nút quản lý công việc
                .task-actions.mt-3
                  a(href=`/tasks/edit/${taskAssignment.id}`).btn.btn-sm.btn-info.mr-2() Chỉnh sửa
                  form(action=`/tasks/delete/${taskAssignment.id}?_method=DELETE` method="POST" class="form-task form-task-delete")
                    button.btn.btn-sm.btn-danger(type="submit") Xóa
                  form(action=`/tasks/success/${taskAssignment.id}?_method=PATCH` method="POST" class="form-task form-task-success")
                    button.btn.btn-sm.btn-success(type="submit") Hoàn thành

