extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8
        .inner-posts-wrap.p-4.border.bg-light.rounded
          .inner-posts-head.mb-3
            .inner-header-post
              h2 Bài viết của #{author.fullName}
            .inner-title
              .inner-avatar
                img(src=author.avatar, alt="Avatar")
              .inner-fullname #{author.fullName}
            .inner-desc
              p.inner-content #{post.content}
          .inner-posts-body
            .inner-image
              img(src=post.image)
            .inner-posts-like Like: #{post.like}
          .comments-section-container
            .comments-section
              each comment in comments
                .inner-comment
                  .inner-avatar
                    img(src=comment.info.avatar, alt="Avatar")
                  .inner-content
                    .inner-fullname
                      h3 #{comment.info.fullName}
                    .inner-title
                      p #{comment.content}
            .comment-input
              input(type="text" placeholder="Nhập bình luận của bạn..." id="commentInput")
              button(type="button" button-submit-comment postId=post.id) Gửi