extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1 Trang chủ
  .container.my-5
    .row.justify-content-center 
      .col-12.col-md-10.col-lg-8
        .inner-create-post 
          .inner-content Bạn đang nghĩ gì thế?
      .col-12.col-md-10.col-lg-8
        form(
          action=`/post/create`
          id="form-create-post"
          method="POST"
          enctype ="multipart/form-data"
        )  
          .inner-form-create-post(class="d-none")
            span(class="button-close-form") X
            div(class="form-group")
              label(for="title") Tiêu đề
              textarea.form-control(id="title" name="title" required)
            div(class="form-group" upload-image)
              label(for="thumbnail") Ảnh
              input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
              )
              img(
                src=""
                class="image-preview"
                upload-image-preview
              ) 
            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary"
              ) Tạo mới
      each post in posts
        if(arrayFriendList.includes(post.user_id))
          .col-12.col-md-10.col-lg-8
            .inner-posts-wrap.p-4.border.bg-light.rounded
              .inner-posts-head.mb-3
                .inner-title
                  .inner-avatar
                    img(src=post.authorAvatar, alt="Avatar")
                  .inner-fullname #{post.author}
                .inner-desc
                  p.inner-content #{post.content}
              .inner-posts-body 
                .inner-image 
                  img(src=post.image)
                .inner-posts-like Like: #{post.like}
              .inner-button 
                div(class="button-like" postId=post.id)
                  i.fa-regular.fa-thumbs-up
                  span() Thích
                a(class="button-comment" href=`/post/comment/${post.id}`)
                  i.fa-regular.fa-comment
                  span Comment
    