extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  .container.my-3
    .row
      .col-12
        .chat(my-id=user.id)
          .inner-head
            .inner-avatar TM
            .inner-name Tuan Minh
          .inner-body
            each chat in chats
              div(
                class=(chat.user_id == user.id ? "inner-outgoing" : ".inner-incoming")
              )
                if(chat.user_id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content 
                  | #{chat.content}
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              span(class="button-icon")
                i.fa-regular.fa-face-smile
              button
                i.fa-solid.fa-paper-plane
        emoji-picker(class="emoji d-none")